<h3 style="padding-top: 45px;">Danh sách sản phẩm</h3>
<br>
<div style="padding-bottom: 10px;">
    <button type="button" class="btn btn-info" routerLink="/product/add">Thêm</button>
</div>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">title</th>
            <th scope="col">img</th>
            <th scope="col">price</th>
            <th scope="col">desc</th>
            <th scope="col">author</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; index as i">
            <td>{{i + 1}}</td>
            <td>{{product.title}}</td>
            <td><img [src]="product.img" width="60" height="60px"></td>
            <td>{{product.price}}</td>
            <td>{{product.desc}}</td>
            <td>{{product.author}}</td>
            <td>
                <button class="btn btn-success" routerLink="/product/{{product.id}}/edit">sửa</button>
                <button class="btn btn-danger mx-2" (click)="remove(product.id)">Xóa</button>
                <button class="btn btn-warning" routerLink="/product/{{product.id}}">Chi tiết</button>
            </td>
        </tr>
    </tbody>
</table>